.disk {
  height: 60px;
  width: 90%;
  border: 1px blue solid;
  clear: both;
  margin: auto;
}

.tower {
  margin: 0px 5px 0px 5px;
  float: left;
  width: 250px;
  height: 200px;
  background-color: gray;
}